.cart-background {
    width: 100%;
    background-color: #c2d3de;
    padding: 30px
}

table {
    border-collapse: collapse;
}

.cart-table {
    width: 100%;
    max-width: 700px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
}

.cart-table td {
    padding: 15px;
    border-bottom: 1px solid #c2d3de;
}

.cart-table td:nth-child(2) {
    width: 400px;
}