div {
    /* width가 padding, border포함 */
    box-sizing: border-box;
}

/* font-family는 inherit되는 속성이 있다 */
/* 안전성 도모 -> 여려 폰트 적기 */
/* 하드웨어에 설치되지 않은 폰트는 적용이 안된다 */
/* font-family: 'gulim', 'dotum', 'arial'; */
/* 한글폰트는 용량이 크므로 1~2개만 쓴다 */
/* 용량 줄이려면 .woff 쓰자 */
@font-face {
    font-family: '나눔스퀘어';
    src: url(../font/NanumSquareR.woff);   
}
/* 굵게 처리하려면 따로 Bold를 다운받아서 하는게 더 이쁘게 나온다 */
@font-face {
    font-family: '굵은 나눔스퀘어';
    font-weight: 800;
    src: url(../font/NanumSquareB.woff);   
}

body {
    margin: 0px;
    font-family: '나눔스퀘어'; 
}

/* 폰트 부트럽게 처리하려면 회전 시키면 됨(아아아주 조금) */
/* 맥북은 알아서 처리해줌 */
/* p, h4, h3, h2, h1, span {
    transform: rotate(0.03deg);
} */

.main-background {
    width: 100%;
    height: 500px;
    background-image: url(../img/shoes.jpg);
    /* backgroud 조정하기 */
    /* background-size: 100%; */
    /* 사진 반복 설저 */
    background-repeat: no-repeat;
    /* 사진 꽉 채우기 cover or contain*/
    background-size: cover;
    /* 사진 위치 조정 */
    background-position: center;
    /* 박스에 보정입히기 (엣지 이상) filter: brightness(n%).. */
    padding: 1px;
    position: relative;
}

.main-title {
    color: white;
    font-size: 40px;
    /* 박스 2개가 위쪽 테두리가 겹침 -> margin collapse 현상 발생 => 테두리가 안겹치도록하여 문제 해결*/
    margin-top: 100px;
    text-align: center;
}

.main-content {
    color: white;
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
}

.main_button {
    display: block;
    padding: 15px;
    font-size: 20px;
    background-color: white;
    border: none;
    border-radius: 5px;
    /* position 부여하면 좌표이동 가능 + 공중에 뜸*/
    /* relative: 내 원래 위치를 기준으로 이동 */
    /* static: 좌표 이동X */
    /* fixed: 현재 화면이 기준 */
    /* absolute: 내 부모 중에 position: relative를 갖고있는 태그가 기준 */
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 150px;
    /* position 숙제 & 반응형 width & box-sizing */
    /* z-index: 5; */
}

/* 숙제: 설명 칸 만들기 */
/* .main-decribe {
    position: absolute;
    bottom: -200px;
    left: 0;
    right: 0;
    margin: auto;
    width: 600px;
    height: 250px;
    background-color: #eee;
}

.describe-title {
    text-align: center;
    margin-top: 50px;
}

.describe-content {
    text-align: center;
    margin: 0px 30px;
} */

/* 숙제: 강사님이 하신거 */
.explain-box {
    /* width: 700px; */
    margin: auto;
    padding:20px;
    text-align: center;
    background-color: #eee;
    position: relative;
    /* top: -40px; */
    /* 강의 시작 */
    top: -50px;
    /* z-index: 클수록 앞으로 나옴 */
    /* z-index: 1; */
    /* 반응형 */
    width: 80%;
    /* 최대폭 */
    max-width: 600px;
    
}

input[type=text] {
    padding: 10px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 5px;
}

.flex-container {
    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* flex-wrap: wrap; */
    align-items: center;
}

.flex-item {
    width: 100px;
    height: 100px;
    background-color: grey;
    margin: 5px;
}

.bold {
    font-family: 800;
}

.large {
    font-size: 40px;
}

.nav-contianer {
    width: 100%;
    height: 40px;
    background-color: rgb(255, 60, 92);
    display: flex;
    align-items: center;
    padding: 10px;

}

.nav-item{
    margin-right: 10px;
}

